$background: #131313;
$background-light: #222222;
$foreground: #ddd;
$foreground-dim: #777;
$foreground-dark: #555;
$foreground-light: #fff;

$primary: #ed0e96;
$primary-light: #e84ca8;
$primary-dark: #c70466;

$secondary: #16dadd;
$secondary-light: #96d4d7;
$secondary-dark: #0d8b8e;

$tertiary: #f4b800;
$tertiary-light: #f3ca3f;
$tertiary-dark: #c37800;
