$background: #131313;
$background-light: #222222;
$foreground: #ddd;
$foreground-dim: #777;
$foreground-dark: #555;
$foreground-light: #fff;

$primary: #e621af;
$primary-light: #df6cbe;
$primary-dark: #b40d85;

$secondary: #09e4e6;
$secondary-light: #79e0e2;
$secondary-dark: #05a6a8;

$tertiary: #F0CA00;
$tertiary-light: #eed85e;
$tertiary-dark: #af9500;
