@import './theme/theme';

.content {
  margin-top: 22vh;
}

.title {
  padding-bottom: 7vh;
  position: relative;

  p {
    font-family: 'Roboto Light';
  }

  button {
    position: absolute;
    right: 0;
    top: 1.5em;
  }
}

.group {
  display: flex;

  .float {
    font-size: 16pt;
    align-self: flex-end;
    padding-left: 0.5em;
    margin-bottom: 0.2em;

    span {
      color: $foreground-dim;
    }
  }
}

.links {
  padding-top: 7vh;
}

.dim {
  font-family: 'Roboto Light';
}
