@import './theme/theme';

.center {
  text-align: center;
  margin-top: 25vh;

  h1 {
    font-size: 140pt;
    text-shadow: 5px 5px $primary, 10px 10px $secondary;

    input {
      display: none;
    }

    input:checked + label > span {
      text-shadow: 5px 5px $secondary, 10px 10px $primary;
    }

    span {
      position: relative;
      z-index: 0;
      display: inline-block;
      transition: transform ease-out 0.3s, z-index ease-out 0.3s;

      &:hover {
        z-index: 1;
        transform: scale(1.2);
      }
    }
  }

  p {
    span {
      color: $secondary;
    }
  }

  @media (max-width: 865px) {
    font-size: 15pt;
  }
}

.menu {
  position: relative;
  z-index: 2;
  list-style: none;

  li {
    display: inline;
    &:before {
      content: '•';
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    &:first-child:before {
      content: '';
      padding: 0;
    }
  }

  a {
    text-decoration: none;
  }
}
