@import "./theme/theme";

.container {
	min-height: 100vh;
	padding: 6vh 0;
	margin: 0 auto;
	height: 100vh;
	width: 40vw;
}

.header {
	padding: 0 0 3vh 0;
}

.post_item {
	padding: 1rem 2em 1rem 0;

	transform: translateX(0);
	transition-duration: .3s;
	transition-timing-function: ease-out;

	p {
		opacity: .9;
	}

	:hover > & {
		transform: translateX(1em);
		transition-duration: .3s;
		transition-timing-function: ease-out;
	}

	.post_item_header,
	.post_item_footer {
		font-size: 10pt;
		opacity: .6;
	}
}

a .post_item {
	color: $foreground;
}

@media (max-width: 1600px) {
	.container {
		width: 60vw;
	}
}

@media (max-width: 1000px) {
	.container {
		width: 70vw;
	}
}

@media (max-width: 767px) {
	.container {
		width: 90vw;
	}
}
