@import "./theme/theme";

.post_item {
	transform: translateX(0);
	transition-duration: .3s;
	transition-timing-function: ease-out;

	:hover > & {
		transform: translateX(1em);
		transition-duration: .3s;
		transition-timing-function: ease-out;
	}
}
