@import "./theme/theme";

.markdown {
	p {
		margin: 1em 0;
	}

	h2, h3, h4, h5, h6 {
		margin-top: 1em;
	}

	ul, ol {
		padding-left: 2em;
		margin-left: 1em;
		margin-bottom: 1em;
	}

	a {
		color: $primary;
		text-decoration: underline 1pt solid;
		border-radius: .2em;

		transition-duration: .2s;
		transition-timing-function: ease-out;
	}

	a:hover {
		color: $background;
		background: $primary;
		text-decoration: none;

		transition-duration: .2s;
		transition-timing-function: ease-out;
	}

	ul {
		li {
			list-style: none;
		}

		li:before {
			content: "# ";
			margin-left: -1em;
		}
	}

	li::before, li::marker {
		color: $primary;
	}

	blockquote {
		border-left: .4rem solid $foreground;
		background: $foreground-dark;
		padding: 1px 0 1px 1em;
	}

	p img {
		width: 100%;
		border-radius: .4rem;
	}
}
